{% extends 'inventory/base.html' %}

{% block content %}
      <button id="dispense" class="btn btn-primary" type="submit">Dispense</button>
      <h1>
        Simples
      </h1>
      <table id="simples" class="datatable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Herb</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for simple in simples %}
          <tr>
            <td>{{simple.id}}</td>
            <td>{{simple.type}}</td>
            <td>{{simple.herb}}</td>
            <td>{{simple.quantity}} ounces</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h1>
        Preparations
      </h1>
      <table id="remedies" class="datatable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Herbs</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for remedy in remedies %}
          <tr>
            <td>{{remedy.id}}</td>
            <td>{{remedy.name}}</td>
            <td>{{remedy.type}}</td>
            <td>
              {{ remedy.herbs.all|join:", " }}
            </td>
            <td>{{remedy.quantity}} {{remedy.units}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
